@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('MuseoSansCyrl-700Italic.woff2') format('woff2'),
        url('MuseoSansCyrl-700Italic.woff') format('woff'),
        url('MuseoSansCyrl-700Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('MuseoSansCyrl-700.woff2') format('woff2'),
        url('MuseoSansCyrl-700.woff') format('woff'),
        url('MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('MuseoSansCyrl-300Italic.woff2') format('woff2'),
        url('MuseoSansCyrl-300Italic.woff') format('woff'),
        url('MuseoSansCyrl-300Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('MuseoSansCyrl-300.woff2') format('woff2'),
        url('MuseoSansCyrl-300.woff') format('woff'),
        url('MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

